In [1]:
import pandas as pd
import numpy as np

Return month sales of 5 most expensive products in each product_category

In [2]:
chain_a = pd.read_csv("csv/chain_a.csv")
chain_b = pd.read_csv("csv/chain_b.csv")
chain_c = pd.read_csv("csv/chain_c.csv")
m_product = pd.read_csv("csv/m.product.csv")

In [3]:
chain_geral = pd.concat([chain_a, chain_b, chain_c], axis=0)
chain_geral.head()

       Date  store_id  product_id  volume
0  01-01-19         3         104     228
1  02-01-19         1         114     345
2  03-01-19         1         110     116
3  04-01-19         2         103     152
4  05-01-19         2         111     293

In [5]:
geral_name = pd.merge(chain_geral, m_product, how="left", on="product_id")
geral_name.head()

,Date,store_id,product_id,volume,price,product_category,product_name
0,01-01-19,3,104,228,400,Sandwich,Teriyaki Special
1,02-01-19,1,114,345,180,Chocolte,Blueberry Mix
2,03-01-19,1,110,116,460,Sandwich,Strawberry Fruit
3,04-01-19,2,103,152,150,Fruit,Apple
4,05-01-19,2,111,293,320,Ice Cream,Fruit Mix