In [2]:
import pandas as pd
import numpy as np

Return month sales of 2 most expensive products in each product_category

In [3]:
chain_a = pd.read_csv("csv/chain_a.csv")
chain_b = pd.read_csv("csv/chain_b.csv")
chain_c = pd.read_csv("csv/chain_c.csv")
m_product = pd.read_csv("csv/m.product.csv")

In [4]:
chain_geral = pd.concat([chain_a, chain_b, chain_c], axis=0)
chain_geral.head()

       Date  store_id  product_id  volume
0  01-01-19         3         104     228
1  02-01-19         1         114     345
2  03-01-19         1         110     116
3  04-01-19         2         103     152
4  05-01-19         2         111     293

In [5]:
geral_name = pd.merge(chain_geral, m_product, how="left", on="product_id")
geral_name.head()

,Date,store_id,product_id,volume,price,product_category,product_name
0,01-01-19,3,104,228,400,Sandwich,Teriyaki Special
1,02-01-19,1,114,345,180,Chocolte,Blueberry Mix
2,03-01-19,1,110,116,460,Sandwich,Strawberry Fruit
3,04-01-19,2,103,152,150,Fruit,Apple
4,05-01-19,2,111,293,320,Ice Cream,Fruit Mix

In [6]:
geral_name['Date'] = geral_name['Date'].astype('datetime64')

In [7]:
geral_name.dtypes

Date                datetime64[ns]
store_id                     int64
product_id                   int64
volume                       int64
price                        int64
product_category            object
product_name                object
dtype: object

In [24]:
geral_name['month'] = geral_name['Date'].dt.month
geral_name['year'] = geral_name['Date'].dt.year

In [28]:
geral_name.head()

,Date,store_id,product_id,volume,price,product_category,product_name,month,year
3254,2019-11-29,8,117,28,1300,Cookie,Big Portion MIX,11,2019
1524,2019-05-03,6,117,106,1300,Cookie,Big Portion MIX,5,2019
3392,2020-04-15,9,117,44,1300,Cookie,Big Portion MIX,4,2020
2827,2022-09-28,6,117,338,1300,Cookie,Big Portion MIX,9,2022
201,2019-07-21,2,117,237,1300,Cookie,Big Portion MIX,7,2019

In [36]:
end2 = geral_name.pivot_table(
    values="volume", index=["product_category","product_name","price"], columns=["year","month"], aggfunc="sum", margins=True
) 
end2

year                                        2019                             \
month                                          1        2        3        4
product_category product_name     price
Chocolate        Black Choco      330      971.0    383.0    854.0    350.0
                 Plain Cookie     160     1879.0    798.0    606.0    697.0
Chocolte         Blueberry Mix    180     1029.0    907.0    273.0    846.0
Cookie           Big Portion MIX  1300    1243.0    171.0   1011.0    803.0
                 Dark Choco       300      410.0   1412.0   1042.0    767.0
                 White Choco      130     1146.0   1033.0    754.0    438.0
Fruit            Apple            150      841.0    336.0    938.0    786.0
                 Banana           90       117.0    701.0    316.0   1268.0
                 Lemon            140      906.0    836.0   1080.0    782.0
                 Orange           110      859.0    492.0    387.0    392.0
                 Peach            450      566.0   1613.0    409.0   1165.0
                 Strawberry       490     1087.0    705.0    631.0   1519.0
Ice Cream        Fruit Mix        320      609.0    556.0    322.0   1101.0
                 Vanilla          240     1179.0   1154.0   2149.0    383.0
Sandwich         BBQ Mix          550      966.0    994.0    783.0    311.0
                 BLT MIX          390      837.0    934.0    857.0    348.0
                 Beans Special    340      786.0    938.0    150.0    923.0
                 Egg Special      200     1110.0      NaN    453.0   1440.0
                 Strawberry Fruit 460      672.0   1095.0   1081.0    778.0
                 Teriyaki Special 400      942.0    422.0   1463.0    471.0
All                                      18155.0  15480.0  15559.0  15568.0

year                                                                         \
month                                          5        6        7        8
product_category product_name     price
Chocolate        Black Choco      330      978.0    791.0    392.0    816.0
                 Plain Cookie     160      734.0   1457.0   1066.0    782.0
Chocolte         Blueberry Mix    180      940.0    776.0    397.0   1245.0
Cookie           Big Portion MIX  1300     876.0    223.0   1001.0    831.0
                 Dark Choco       300      711.0   1253.0    869.0   1419.0
                 White Choco      130     1212.0    714.0    572.0   1438.0
Fruit            Apple            150      284.0    568.0    815.0    684.0
                 Banana           90      1404.0    995.0    328.0    845.0
                 Lemon            140      681.0    278.0    319.0    569.0
                 Orange           110      847.0    812.0    282.0   1123.0
                 Peach            450     1076.0    168.0   2015.0   1259.0
                 Strawberry       490     1460.0   1429.0    580.0    928.0
Ice Cream        Fruit Mix        320      805.0    523.0   1622.0    345.0
                 Vanilla          240     1336.0    897.0   1046.0    497.0
Sandwich         BBQ Mix          550     1070.0   1303.0   1580.0    699.0
                 BLT MIX          390      953.0    847.0    272.0    303.0
                 Beans Special    340      297.0    681.0    425.0    758.0
                 Egg Special      200      469.0   1301.0   1382.0    231.0
                 Strawberry Fruit 460      745.0    432.0    460.0    893.0
                 Teriyaki Special 400        7.0    181.0    795.0    394.0
All                                      16885.0  15629.0  16218.0  16059.0

year                                                       ...     2022  \
month                                          9       10  ...        4
product_category product_name     price                    ...
Chocolate        Black Choco      330      474.0    605.0  ...    433.0
                 Plain Cookie     160     1064.0    924.0  ...    283.0
Chocolte         Blueberry Mix    180      490.0   1251.0  ...    834.0
Cookie           Big Portion MIX  1300     909.0    669.0  ...    986.0
                 Dark Choco       300      569.0    782.0  ...    500.0
                 White Choco      130      650.0    409.0  ...   1424.0
Fruit            Apple            150      974.0    801.0  ...    954.0
                 Banana           90       340.0    421.0  ...    783.0
                 Lemon            140     1024.0    895.0  ...    263.0
                 Orange           110     1173.0    931.0  ...    895.0
                 Peach            450     1029.0    731.0  ...    592.0
                 Strawberry       490      390.0    581.0  ...    123.0
Ice Cream        Fruit Mix        320     1059.0    263.0  ...    639.0
                 Vanilla          240      757.0   1326.0  ...    739.0
Sandwich         BBQ Mix          550     1165.0    852.0  ...   1661.0
                 BLT MIX          390      873.0   1485.0  ...    865.0
                 Beans Special    340      191.0    531.0  ...    824.0
                 Egg Special      200      294.0    624.0  ...   1446.0
                 Strawberry Fruit 460      899.0    618.0  ...    675.0
                 Teriyaki Special 400     1242.0   1113.0  ...   1159.0
All                                      15566.0  15812.0  ...  16078.0

year                                                                         \
month                                          5        6        7        8
product_category product_name     price
Chocolate        Black Choco      330      493.0    702.0   2369.0   1400.0
                 Plain Cookie     160     1280.0    518.0    990.0   1047.0
Chocolte         Blueberry Mix    180      242.0    716.0    731.0    408.0
Cookie           Big Portion MIX  1300     499.0    632.0    745.0   1085.0
                 Dark Choco       300      916.0    597.0    246.0   1119.0
                 White Choco      130      931.0   1147.0   1243.0   1835.0
Fruit            Apple            150      577.0    608.0    152.0   1431.0
                 Banana           90       639.0    735.0    230.0    908.0
                 Lemon            140      187.0    380.0    903.0    613.0
                 Orange           110      714.0    512.0    891.0    371.0
                 Peach            450      518.0    494.0   1473.0    591.0
                 Strawberry       490      714.0    994.0   1315.0    580.0
Ice Cream        Fruit Mix        320      283.0   1217.0    987.0   1065.0
                 Vanilla          240      850.0   1142.0    629.0    740.0
Sandwich         BBQ Mix          550     1231.0   1411.0    569.0   1300.0
                 BLT MIX          390     1080.0   1044.0    420.0    693.0
                 Beans Special    340      999.0   1066.0    280.0    463.0
                 Egg Special      200     1387.0    570.0    369.0     18.0
                 Strawberry Fruit 460     1021.0   1737.0    298.0   1013.0
                 Teriyaki Special 400     1018.0   1242.0   1036.0    813.0
All                                      15579.0  17464.0  15876.0  17493.0

year                                                                         \
month                                          9       10       11       12
product_category product_name     price
Chocolate        Black Choco      330     1090.0   1395.0    892.0    623.0
                 Plain Cookie     160     1775.0   1098.0    738.0    754.0
Chocolte         Blueberry Mix    180     1227.0    261.0    941.0   1012.0
Cookie           Big Portion MIX  1300    2122.0    562.0   1427.0    580.0
                 Dark Choco       300      874.0    276.0   1136.0    821.0
                 White Choco      130      599.0    734.0    513.0    699.0
Fruit            Apple            150      763.0   1139.0    673.0   1445.0
                 Banana           90      1075.0      NaN    408.0    522.0
                 Lemon            140      502.0    757.0   1387.0   1519.0
                 Orange           110      480.0   1551.0   1655.0    430.0
                 Peach            450      451.0    258.0    559.0   1144.0
                 Strawberry       490     1723.0   2042.0    389.0   1220.0
Ice Cream        Fruit Mix        320      300.0   1035.0     73.0    833.0
                 Vanilla          240      876.0    704.0   1889.0    829.0
Sandwich         BBQ Mix          550      853.0    213.0    581.0    771.0
                 BLT MIX          390      312.0    695.0    118.0    472.0
                 Beans Special    340     1302.0   1511.0    621.0    528.0
                 Egg Special      200      413.0    810.0   1816.0    483.0
                 Strawberry Fruit 460      468.0    743.0    713.0    889.0
                 Teriyaki Special 400      908.0    571.0    288.0    536.0
All                                      18113.0  16355.0  16817.0  16110.0

year                                        All
month
product_category product_name     price
Chocolate        Black Choco      330     39144
                 Plain Cookie     160     43180
Chocolte         Blueberry Mix    180     38359
Cookie           Big Portion MIX  1300    37796
                 Dark Choco       300     39447
                 White Choco      130     38801
Fruit            Apple            150     37537
                 Banana           90      33601
                 Lemon            140     33956
                 Orange           110     41294
                 Peach            450     45495
                 Strawberry       490     46897
Ice Cream        Fruit Mix        320     36902
                 Vanilla          240     40909
Sandwich         BBQ Mix          550     43381
                 BLT MIX          390     36376
                 Beans Special    340     32646
                 Egg Special      200     39125
                 Strawberry Fruit 460     37345
                 Teriyaki Special 400     38232
All                                      780423

[21 rows x 49 columns]